{{#each songs}}
  <div class="oneSong"> 
    <h1>{{title}}</h1>
    <span>{{artist}}</span>
    <span class='center'> {{album}}</span>
    <span> {{genre}}</span> 
    <button class='deleteButton' id='{{@key}}''>Delete</button> 
  </div>
{{/each}}

            